<div *ngIf="isLoading">Loading...</div>

<div *ngIf="!isLoading">
  <div *ngIf="addresses.length === 0">
    <p>No address details found. Please add your address.</p>
  </div>

  
    <div class="address-cards-container">
      <div *ngFor="let address of addresses" class="address-card">
         <div class="default-title" *ngIf="address.default">
            <h3>Default</h3>
         </div>
        <p><strong>Address Line 1:</strong> {{ address.addressLine1 || ' ' }}</p>
        <p><strong>Address Line 2:</strong> {{ address.addressLine2 || ' ' }}</p>
        <p><strong>City:</strong> {{ address.city || ' ' }}</p>
        <p><strong>Zip Code:</strong> {{ address.zipcode || ' ' }}</p>
        <p><strong>State:</strong> {{ address.state || ' ' }}</p>
        <p><strong>Country:</strong> {{ address.country || ' ' }}</p>
        <p><strong>Contact:</strong> {{ address.contact || ' ' }}</p>
        <p><strong>Country Code:</strong>{{address.countryCode || ' '}}</p>
        <div class="actions">
          <button class="edit-button" (click)="toggleEdit(address)">Edit</button>
          <button class="delete-button" (click)="removeDetails(address.id)">Delete</button>
        </div>
      </div>
    </div>
    <br>
    <div>
      <button class="add-button" (click)="toggleEdit()">Add Address</button>
    </div>
  </div>
  
  <div class="modal" *ngIf="isEditing">
    <div class="modal-content">
      <div class="modal-view">
      <p>{{ selectedAddress ? 'Edit Address Details' : 'Add Address Details' }}</p>
      <button type="button" (click)="cancelEdit()" class="close-button">&#10060;</button>
    </div>
      <form [formGroup]="addressForm" (ngSubmit)="saveDetails()">
        <label>Address Line 1:</label>
        <input formControlName="addressLine1" type="text" />
        <div class="error-message" *ngIf="addressForm.get('addressLine1')?.invalid && addressForm.get('addressLine1')?.touched">
          Address Line 1 is required.
        </div>

        <label>Address Line 2:</label>
        <input formControlName="addressLine2" type="text" />

        <label>City:</label>
        <input formControlName="city" type="text" />
        <div class="error-message" *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched">
          City is required.
        </div>

      <label>Zip Code:</label>
      <input formControlName="zipcode" type="text" />
      <div class="error-message" *ngIf="addressForm.get('zipcode')?.invalid && addressForm.get('zipcode')?.touched">
        Zip Code is required and must be 5 or 6 digits.
      </div>

      <label>State:</label>
      <input formControlName="state" type="text" />

      <label>Country:</label>
      <input formControlName="country" type="text" />

      <label>Contact:</label>
      <input formControlName="contact" type="text" />
      <div class="error-message" *ngIf="addressForm.get('contact')?.invalid && addressForm.get('contact')?.touched">
        Contact is required and must be 10 digits.
      </div>

      <label>Country Code:</label>
      <input formControlName="countryCode" type="text" />

      <div class="checkbox-container">
        <input formControlName="default" type="checkbox" id="default"
        />
        <label for="default">Set as Default</label>
      </div>

      <div class="modal-actions">
        <button type="submit" [disabled]="addressForm.invalid">Save</button>
        <!-- <button type="button" (click)="cancelEdit()" class="close-button">Cancel</button> -->
      </div>
    </form>
  </div>
</div>
