/* Toastr Container for Center Position */
.toast-bottom-center {
    bottom: 50px; /* Adjust position slightly above the bottom */
  left: 50%; /* Center the container horizontally */
  transform: translateX(-50%);
  position: fixed;
  z-index: 1050; /* Ensure it appears above other content */
  }
  
  /* Custom Toast Styles */
  .custom-toast {
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }
  
  /* Success Message Style */
  .toast-success {
    background-color: #4caf50 ; /* Green color */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }
  
  /* Error Message Style */
  .toast-error {
    background-color: #f44336 ; /* Red color */
    color: white ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  